:root {
    --color-bg: #F8EDED;       /* Pale pink background */
    --color-accent: #FF8225;   /* Orange accent */
    --color-primary: #B43F3F;  /* Red accent */
    --color-secondary: #173B45;/* Dark teal text */
}

body{
    margin: 0;
    width: 100vw;
}


.header{
    background-color: var(--color-accent);
    height: fit-content;
    align-content:center;
    width: 100vw;
    justify-content: space-between;
    padding: 0px 0px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-div {
    display: flex;
    align-items: center;
  }

.header-div h1{
    margin: 10px 0px 0px 10px;
    padding: 5px;
    text-align: left;
    color: white;
}

.search-bar {
    padding: 5px 10px;
    margin: 0px 0px 0px 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    height: 20px;
    width: 400px;
    border-radius: 15px; 
  }
  
  .search-bar:focus {
    border-color: #173B45; /* Highlight border on focus */
  }

.navbar-div {
    display: flex;
    gap: 0px; 
    text-align: center;
  }
  
  .navbar-div a {
    width: 100px;
    text-decoration: none; 
    color: #fff; 
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px; 
    border-radius: 0px; 
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
  }
  
  .navbar-div a:hover {
    background-color: #F8EDED; /* Slightly lighter background on hover */
    color: #173B45; /* Highlight color on hover */
  }
  
  .tocatalog, .toorder, .toabout {
    display: inline-block; /* Ensure links stay inline */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar-div {
      justify-content: flex-end; /* Keep links aligned to the right */
      flex-wrap: wrap; /* Allow wrapping if needed */
      gap: 10px; /* Adjust spacing for smaller screens */
    }
  }