:root {
    --color-bg: #F8EDED;
    --color-accent: #FF8225;
    --color-primary: #B43F3F;
    --color-secondary: #173B45;
}

.register-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-bg);
    padding: 20px;
}

.register-card {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    align-content: center;
}

.register-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--color-secondary);
}

.register-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.register-input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s;
    background: #f0f0f0;
}

.register-input:focus {
    border-color: var(--color-accent);
    outline: none;
    background: #fff;
}

.register-checkboxes {
    text-align: left;
    margin-bottom: 20px;
    font-size: 0.95rem;
    color: var(--color-secondary);
}

.register-checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.register-checkbox-label input[type="checkbox"] {
    margin-right: 8px;
}

.register-button {
    padding: 12px;
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.register-button:hover {
    background-color: var(--color-bg);
    color:var(--color-accent);
}

.register-link {
    color: var(--color-accent);
    text-decoration: none;
    font-size: 0.95rem;
}

.register-link:hover {
    text-decoration: underline;
}

/* Responsive tweaks */
@media (max-width: 480px) {
    .register-card {
        padding: 25px;
    }
}
